body {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}
.sec-1{
  padding-top:  1rem;
  /* background: linear-gradient(to right, #FDF1E0 60%, #6FDCBF 0%); */
  background: linear-gradient(to right, #FDF1E0 60%, #6FDCBF 40%);
  height: 50rem;
}
header {
  padding: 15px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin-left: 5rem;
  margin-right: 5rem;
}

.logo{
  font-family: 'Rubik Doodle Shadow';
  color: #6FDCBF;
  font-size: 80px;
  font-weight: bold;
  /* animation: bounce 3s infinite; Add animation to the logo */
  animation: bounce 4s; 
  text-decoration: none;

}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px); /* Adjust the bounce height */
  }
  60% {
    transform: translateY(-10px); /* Adjust the bounce height */
  }
}
.logo:hover{
  color: #774069;
  cursor: pointer;
}

.right-side {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
 
}

.right-side a {
  text-decoration: none;
  color: black;
  margin-right: 15px;
  font-weight: bold;
  font-size: 1.2rem;
  transition: color 0.3s ease;
 
}

.right-side a:hover {
  color: #AF91DB;

}
.first-container{
  display: flex;
  flex-direction: row;
  margin-right: 5rem;
}
.animation{
max-width: 30%;
margin-left: 3rem; 
margin-right: 4rem;
margin-top: 5rem;
}
.hello{
  transform: rotate(-9deg);
  transform-origin: bottom-left;
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  color: #AF91DB;
  margin-top: 0;
  padding-bottom: 4rem;
  margin-bottom: 0;
 
}
.hello:hover{
  font-size: 50px;
}
.text{
  vertical-align: bottom;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 900;
  font-size:2.2rem;
  margin-top: 5rem;
  line-height: 3rem;
  text-align: center;
  vertical-align: middle;

}

@keyframes colorChange {
  0%{
    color: #79a7c8;
  }
  25% {
    color: #3a83b8;
  }
  50% {
    color: #2A938D;
  }
  100% {
    color: #985f42;
  }
}

.AboutMe {
  
  animation: colorChange 20s infinite; /* Adjust the duration as needed */
}

.course{
  color:#774069; 
  font-family: 'Rubik Doodle Shadow'; 
}

.course:hover{
 font-family: 'Rubik Broken Fax';
}
.sec-2{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
/* background-color: rgb(202, 152, 77); */
background-color: #f4f4c7;
/* background-color: #ffe6cf; */
/* background-color: #ffd1c6; */

  
}
.flex{
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3rem 1rem 5rem 1rem; 
  color: white;
}
.AboutMe{
  padding: 1rem;
  border: none;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.7);
  width: 80%;
  line-height: 2.5rem;
  font-weight: 900;
  font-size: 2rem;
  margin-right: 5rem;
 
}
.AboutMe:hover{
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.myPhoto{
display: flex;
justify-content: center;
align-items: center;
padding-bottom: 4rem;
}
.myPhoto img{
  max-width: 70%;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.7);
}
.myPhoto img:hover{
  transform: scale(1.15);
  transition: transform 0.3s ease;
}

.sec-3 {
  background: linear-gradient(to right, #a678ebdd 0%, #e1dcea 100%);
  transition: background 0.1s ease;
  text-align: center;
  padding-bottom: 2rem;
   
}
.heading{
  color: #5E556A;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 3rem;
  font-weight: 700;
  text-align: left;
  padding: 3rem;
  margin-top: 0;
}
.heading2{
  padding-top: 5rem;
  font-size: 3.5rem;
}
.center{
  display: flex;
  justify-content: center;
}

.grid{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 1rem;
  row-gap: 2rem;
  max-width: 80%; 
}

.icon{
  width: 50%;
  object-fit: contain;
  transition: transform 0.3s ease-in-out;
}


.icon:hover {
  transform: scale(1.5);
}

.contact {
  background-image: url(./images/phone.jpeg);
  background-position: center;
  background-size: 85rem;
  height: 42rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-left: 38rem;
}
.contact-logo{
  height: 3rem;
  margin: 0;
}

p{
  display: inline;
  font-family:cursive;
font-size: 2rem;
text-align: center;
vertical-align: top;

}
p a{
  text-decoration: none;
  margin-left: 1rem;
  font-size: 1.5rem;
  color: black;
  /* color: #b087f1; */
  font-family: 'Times New Roman', Times, serif;
}
p a:hover{
  font-size: 2rem;
  color: #774069;

}